#about {
    background-color: var(--teal);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
    color: white;
}

#about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(2vw, 16px);
    line-height: max(30px, 3vw);
    gap: 30px;
    margin: 10px;
}

#about img {
    border-radius: 50%;
    width: 35%;
    height: 35%;
    padding: 20px;
}

#about-info {
    display: flex;
}

@media screen and (max-width: 750px) {
    #about-info {
        display: flex;
        flex-direction: column;
    }

    #about img {
        width: 50%;
        padding: 0px;
    }

    #about-info p {
        margin: 0px;
        padding: 0 10px 0px 10px;
    }
}